.container {
  background: #555;
}
.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
input.ng-invalid {
  background-color: rgb(233, 146, 160);
}
input.ng-valid {
  background-color: rgb(212, 245, 212);
}
 
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #0b180b;
}

.button:hover {
  background-color: #0c160c;
  color: white;
}
 
 
 
  

 
 
 

