  <a href="/register"  role="button"><h1>Register here</h1></a>
    
     
    <div class="responsive">
      <div class="gallery">
  
          <img src="/assets/Emp2.jpg" alt="image" width="600" height="400">
          </div></div>
          <div class="responsive">
            <div class="gallery">
          <img src="/assets/emp3.jpg" alt="image" width="600" height="400">
          </div></div>
          <div class="responsive">
            <div class="gallery">
          <img src="/assets/emp4.jpg" alt="image" width="600" height="400">
          </div></div>
          <div class="responsive">
            <div class="gallery">
          <img src="/assets/emp1.jpg" alt="image" width="600" height="400">
          </div></div>
         
    
    
    <div class="clearfix"></div>
    
    <div style="padding:6px;">
      <p> A theory of employment is then a theory of the decisions of employers to hire labour and of employees to offer their services. Keynes argues that The General Theory is necessary in order to explain how unemployment can arise from a lack of aggregate demand.</p>
      <p>he General Theory is not primarily a theory of the determination of the level 
        and distribution of income, and it is certainly not a theory of growth through 
        the accumulation of wealth or the advance of technology. As its title 
        indicates, The General Theory of Employment, Interest and Money is first and 
        foremost a theory of employment. Employment here means wage labour, the 
        hire  of  labour  for  a  sum  of  money,  and  not  merely  occupation  or  self-
        employment.  A  theory  of  employment  is  then  a  theory  of  the  decisions  of 
        employers to hire labour and of employees to offer their services. 
        A  theory  of  self-employment  is  rather  different,  since  there  is  no  hiring 
        decision. In an economy composed of self-employed farmers and artisans the 
        employment  decision  is  simply  a  production  decision,  how  much  effort  to 
        exert  to  obtain  goods  other  than  leisure.1  A  decision  by  a  self-employed 
        worker to produce for sale (rather than for stock or for personal consumption) 
        may involve  money, as the  medium of exchange for other goods, but  money 
        does  not  enter  directly  into  the  production  process.  Where  an  economy  is 
        based  on  employment,  production  requires  the  payment  of  a  money-wage, 
        and  this  arrangement  can  be  described  as  an  ‘entrepreneur’  or  ‘monetary 
        production’ economy.2 </p>
    </div>
    
    
    
    

